/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
	--ion-color-primary: #E4A027;
	--ion-color-primary-rgb: 251,185,70;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #dda33e;
	--ion-color-primary-tint: #fbc059;

	--ion-color-secondary: #556b2f;
	--ion-color-secondary-rgb: 85,107,47;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #4b5e29;
	--ion-color-secondary-tint: #667a44;

	--ion-color-tertiary: #a080c0;
	--ion-color-tertiary-rgb: 160,128,192;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #8d71a9;
	--ion-color-tertiary-tint: #aa8dc6;

	--ion-color-success: #25ef76;
	--ion-color-success-rgb: 37,239,118;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #21d268;
	--ion-color-success-tint: #3bf184;

	--ion-color-warning: #ffe770;
	--ion-color-warning-rgb: 255,231,112;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0cb63;
	--ion-color-warning-tint: #ffe97e;

	--ion-color-danger: #fb3751;
	--ion-color-danger-rgb: 251,55,81;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #dd3047;
	--ion-color-danger-tint: #fb4b62;

	--ion-color-medium: #aeb8e0;
	--ion-color-medium-rgb: 174,184,224;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #99a2c5;
	--ion-color-medium-tint: #b6bfe3;

	--ion-color-light: #fafafa;
	--ion-color-light-rgb: 250,250,250;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #dcdcdc;
	--ion-color-light-tint: #fbfbfb;

}

html {
  /* For more information on dynamic font scaling, visit the documentation: 
  https://ionicframework.com/docs/layout/dynamic-font-scaling */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}
