.recipes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 50%;
  margin: auto auto 20px;
}

.content {
  width: calc(100% + 25px);
}

.content::part(scroll) {
  padding-right: 7px;
}

@media (max-width: 768px) {
  .recipes {
    width: 70%;
    gap: 0px;
  }
}
